<header class="py-3">
  <div class="container">
    <div class="row">
      <nav class="navbar navbar-expand-sm navbar-light w-100">
        <div class="navbar-brand">
          <a data-test="logo">
            <img src="favicon.ico" width="40" />
          </a>
        </div>

        <div class="collapse navbar-collapse" id="navbarNav">
          <form class="form-inline my-2 my-lg-0 ml-auto" data-test="search">
            <span uk-search-icon></span>
            <input class="form-control mr-sm-2" type="search" placeholder="Anywhere • Homes" />
          </form>
          <ul class="navbar-nav ms-auto" data-test="menu">
            <li class="nav-item"><a class="nav-link" href="">Become a host</a></li>
            <li class="nav-item"><a class="nav-link" href="">Help</a></li>
            <li class="nav-item"><a class="nav-link" href="">Sign up</a></li>
            <li class="nav-item"><a class="nav-link" href="">Login</a></li>
          </ul>
        </div>
      </nav>
    </div>

    <hr/>

    <div class="row">
      <div class="d-flex justify-content-start">
        <div data-test="home-type" class="me-3">
          <button class="btn btn-outline-secondary">
            Home type
          </button>
        </div>
        <div data-test="dates" class="me-3">
          <button class="btn btn-outline-secondary">
            Dates
          </button>
        </div>
        <div data-test="guests" class="me-3">
          <button class="btn btn-outline-secondary">
            Guests
          </button>
        </div>
        <div data-test="price" class="me-3">
          <button class="btn btn-outline-secondary">
            Price
          </button>
        </div>
        <div data-test="rooms" class="me-3">
          <button class="btn btn-outline-secondary">
            Rooms
          </button>
        </div>
        <div data-test="amenities" class="me-3">
          <button class="btn btn-outline-secondary">
            Amenities
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
