<header>
  <div>
    <div>
      <nav>
        <div>
          <a data-test="logo">
            <img src="favicon.ico" width="40" />
          </a>
        </div>

        <div data-test="search">
          <form>
            <span uk-search-icon></span>
            <input type="search" placeholder="Anywhere • Homes" />
          </form>
        </div>
        <div>
          <ul data-test="menu">
            <li><a href="">Become a host</a></li>
            <li><a href="">Help</a></li>
            <li><a href="">Sign up</a></li>
            <li><a href="">Login</a></li>
          </ul>
        </div>
      </nav>

      <hr/>

      <div>
        <div data-test="home-type">
          <button>
            Home type
          </button>
        </div>
        <div data-test="dates">
          <button>
            Dates
          </button>
        </div>
        <div data-test="guests">
          <button>
            Guests
          </button>
        </div>
        <div data-test="price">
          <button>
            Price
          </button>
        </div>
        <div data-test="rooms">
          <button>
            Rooms and beds
          </button>
        </div>
        <div data-test="amenities">
          <button>
            Amenities
          </button>
        </div>
      </div>
      <hr/>
    </div>
  </div>
</header>
